extends layout 

block main-content
    main
        section#recipes
            h1 Recipes
            form(action='/recipes' method='get')
                input(type='text' name='q' placeholder='Search recipes by ingredients' value=query)
                button(type='submit') Search
            if recipes && recipes.length
                ul.recipe-list
                    each recipe in recipes
                        li.recipe-item
                            h2= recipe.title
                            img(src=recipe.image, alt=recipe.title)
                            a#view-recipe(href=`/recipe-detail/${recipe.id}`) View Recipe Details
                            a#view-info(href=`/nutrition/${recipe.title}`) View Nutrition Info
            else
                p No recipes found.
      
