extends layout 

block main-content
    main
        section#recipe-details
            h1= recipe.title
            img(src=recipe.image, alt=recipe.title)
            .recipe-summary
                p!= recipe.summary
            .recipe-info
                h2 Ingredients
                ul
                    each ingredient in recipe.extendedIngredients
                        li= ingredient.original
                h2 Instructions
                p!= recipe.instructions
        